/*Home */
.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerMain {
  width: 100%;
  display: flex;
  background-color: #3f3f3f;
  min-height: 100vh;
  padding: 20px;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: #a1a1a1;
}
/*Form */

.createContainer {
  background-color: #333;
  color: #efefef;
  display: flex;
 justify-content: center;
 align-items: flex-start;
  width: 30%;
}
.formCreate {
  display: flex;
  flex-direction: column;
  width:90%;
  justify-content: center;
  align-items: center;
}
.input{
  width: 200px;
  padding: 10px 5px;
  margin-bottom: 10px;
  color: #333;
}

.buttonSend {
  background-color: #333;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  max-width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/*Person */

.containerPerson {
  width: 300px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #333;
  color: #efefef;
  display: flex;
}
.profileUser {
  width: 30%;
}
.photo {
  width:100% !important;
  height: auto;
  padding: 10px;
}
.detailsUser {
  background-color: #efefef;
  color: #333;
  width: 70%;
  padding: 10px;
}
.actions {
  background-color: white;
  display: flex;
}
.actionButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.imageButton {
  cursor: pointer;
}
